

<%= form_with(scope: :session, url: login_path, local: true) do |form| %>

<div class="text-center w-100 mx-auto mt-4 bg-light shadow general-form">
  <h1>Login</h1>
  <div class="field w-100">
    <%= form.label :name, class: 'font-weight-bold' %>
    <%= form.text_field :name, class: 'w-75 border-0 input text-center' %>
  </div>

  <div class="field">
    <%= form.label :password, class: 'font-weight-bold' %>
    <%= form.password_field :password, class: 'w-75 border-0 input text-center' %>
  </div>

  <div class="actions">
    <%= form.submit 'Sign In', class: 'btn btn-success button2' %>
  </div>
</div>

<% end %>
