<div class="bg-light my-4 p-4 shadow">
  <h1 class="text-center">Groups</h1>
  <% @groups.each do |group| %>
<div class="card my-4 w-75 mx-auto text-center py-4">
  
  <p><%= group.icon.html_safe %></p>
  <div class="card_body">
    <h5>Group name: <%= group.name %></h5>
    <% group.transactions.each do |transaction| %>
    <ul class="list-unstyled">
      <li>
        Transaction name: <%= transaction.name %>
      </li>
    </ul>
  <% end %>
  <p>The user: <%= group.user.name %></p>
  </div>
  <%= group_id_creator(group) %>
</div>
<% end %>
  <br>
  <div class="text-center">
    <%= link_to 'New Group', new_group_path, class: 'btn btn-success text-light' %>
  </div>
 
</div>

