<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= raw @group.icon %>
</p>

<p>
  <strong>Transactions:</strong>
  <% @groups.each do |group| %>
  <% group.transactions.each do |transaction| %>
  <%= transaction.name %>
<% end %>
<% end %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
