<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
    <% if logged_in? %>
   
    <tr>
      <td>This is the logged in user: <%= current_user.name %></td>
      <td><%= link_to 'Show', current_user %></td>
      <td><%= link_to 'Edit', edit_user_path(current_user) %></td>
      <td><%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>

  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', login_path %>

