<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <% @user.transactions.each do |transaction| %>
  <%= transaction.name %>
<% end %>
<% @user.groups.each do |group| %>
  <%= group.name %>
<% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
