<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <% @user.groups.each do |group| %>
  <%= group.name %>
  <% end %>
</p>
<div>
  <h3>These are my internal transactions</h3>
  <% @internal_transactions.each do |transaction| %> 
  
  <p>The name of the transaction: <%= transaction.name %></p>
  <% transaction.groups.each do |group| %>
    <p>This is the group of the transaction <%= transaction.name %>: <%= group.name %></p>
    <p>This is the icon of the transaction <%= transaction.name %>: <%= group.icon %></p>
<% end %>
  <% end %>
</div>

<div>
  <% @external_transactions.each do |transaction| %> 
  <h3>These are my external transactions</h3>
  <p>The name of the transaction: <%= transaction.name %></p>
  <% end %>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>