<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<div>
  <h3><%= link_to 'These are my internal transactions', assigned_path %></h3>
<% @internal_transactions.each do |transaction| %>
  <ul>
    <li><%= transaction.name %></li>
  </ul>
<% end %>
</div>

<div>
  <h3><%= link_to 'These are my external transactions', unassigned_path %></h3>
  
  <% @external_transactions.each do |transaction| %>
    <ul>
      <li><%= transaction.name %></li>
    </ul>
  <% end %>
</div>

<div>
  <h3><%= link_to 'These are all the groups', groups_path %></h3>
  <% @groups.each_with_index do |group, index| %>
    <ul>
      <% current_user.groups.each do |f| %>
        <% @a = f.id %>
    <% end %>
      <li><%= link_to group.name, group %>|||<%= raw group.icon %></li>
     
    </ul>
  <% end %>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>