<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<div>
<h3>These are my internal transactions</h3>
<% @internal_transactions.each do |transaction| %>
  <ul>
    <li><%= transaction.name %></li>
  </ul>
<% end %>
</div>

<div>
  <h3>These are my external transactions</h3>
  <% @external_transactions.each do |transaction| %>
    <ul>
      <li><%= transaction.name %></li>
    </ul>
  <% end %>
</div>

<div>
  <h3>These are all the groups</h3>
  <% @groups.each do |group| %>
    <ul>
      <li><%= group.name %></li>
    </ul>
  <% end %>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>