<%= form_for @transaction do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if logged_in? %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <%= fields_for @group do |fa| %>
  <div class="field">
    <b>Groups</b><br />
    
    <div class="d-flex">
      <%= fa.radio_button :name, 'Music', class: 'mx-4' %> Music<br />
      <%= fa.radio_button :name, 'Sport', class: 'mx-4' %> Sport<br />
      <%= fa.radio_button :name, 'Food', class: 'mx-4' %> Food<br />
      <%= fa.radio_button :name, 'Rent', class: 'mx-4' %> Rent<br />
      <%= fa.radio_button :name, nil, class: 'mx-4' %> Something else<br />
    </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>
