<div class="w-50 bg-light mx-auto shadow my-4 py-4 px-4 general-form">
  <%= form_for @transaction do |form| %>
  <% if transaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

    <ul>
      <% transaction.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% if logged_in? %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>


  <div class="d-flex">
    <%= form.collection_check_boxes :groups, current_user.groups, :id, :name do |b| %>
    <div class="collection-check-box" style='display:flex'>
      <div>
        <%= b.check_box %>
      </div>
      <div class="mr-3">
        <%= b.label %>
      </div>
      
    </div>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-success' if @transaction.new_record? || transaction.author == current_user %>
  </div>
  <% end %>
  <% end %>

  <%= buttons_for_logged_user? %>
</div>