<%= form_for @transaction do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if logged_in? %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

    
    <div class="d-flex">
      <%= form.collection_check_boxes :groups, Group.all, :id, :name do |b| %>
      <div class="collection-check-box" style='display:flex'>
      <%= b.check_box %>
      <%= b.label %>
    </div>
<% end %> 
    </div>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>
