<div class="bg-light my-4 p-4 shadow">
<h1>Transactions</h1>

<div>
  <h4 class="text-center">This is the total amount: <%= @total_amount %></h4>
</div>


<table class="w-100 m-0">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Amount</th>
      
      <th>Transaction Time</th>
      <th>Icon</th>
     
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% if logged_in? %>
    <% @user_transactions.each_with_index do |transaction, index| %>
    <tr>
      <td><%= transaction.author.name %></td>
      <td><%= link_to transaction.name, edit_transaction_path(transaction) %></td>
      <td><%= transaction.amount %></td>
      
      <td><%= transaction.created_at %></td>

      <% transaction.groups.each do |group| %>
   
       <td><%= link_to group.icon.html_safe, group %></td> 

    <% end %>

   
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<div>
  <%= link_to 'External Transactions', unassigned_path, class: 'btn btn-success text-light' %>
<%= link_to 'Internal Transactions', assigned_path, class: 'btn btn-primary text-light' %>
</div>
</div>

